<font face = "ALGERIAN"> <h1 align = "center"> <u> About Us </u> </h1> </font>
<body> <center> <img src = "./Rule - Death Note.jpg" width="800" height="400" align="top" alt = "About Image"> </center> 
</body>
<div float = "left">
<h3> What do we do </h3>
<p>Morbi tincidunt augue interdum velit. Consectetur adipiscing elit duis tristique. Tristique sollicitudin nibh sit amet commodo. Erat imperdiet sed euismod nisi. Placerat vestibulum lectus mauris ultrices eros in cursus turpis. Urna et pharetra pharetra massa massa ultricies mi quis hendrerit. Velit laoreet id donec ultrices. Felis bibendum ut tristique et egestas. Pulvinar elementum integer enim neque volutpat ac tincidunt. </p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
<h3> Why do we do </h3>
<p>Mauris. Maecenas sed enim ut sem viverra aliquet eget sit. Diam phasellus vestibulum lorem sed risus ultricies. Montes nascetur ridiculus mus mauris vitae ultricies leo integer. Aenean et tortor at risus viverra adipiscing. Nunc congue nisi vitae suscipit tellus mauris a diam. Sit amet volutpat consequat mauris nunc. Habitant morbi tristique senectus et netus et malesuada fames ac. Dapibus ultrices in iaculis nunc sed augue lacus viverra vitae. Cras fermentum odio eu feugiat pretium nibh ipsum consequat. Nulla facilisi morbi tempus iaculis urna.</p>

</div>
<%= link_to 'Home', root_path %>