<font face = "ALGERIAN"> <h1 align = "center"> <u> Home Page </u> </h1> </font>
<body> <center> <img src = "~/rails_projects/alpha_blog/app/views/pages/153259[1].jpg" width="800" height="400" align="top" alt = "Homepage Image"> </center> 
</body>
<div float = "left">
<h3> My information </h3>
<p>Morbi tincidunt augue interdum velit euismod in pellentesque massa. Urna et pharetra pharetra massa massa ultricies mi. Consectetur adipiscing elit duis tristique. Tristique sollicitudin nibh sit amet commodo. Erat imperdiet sed euismod nisi. Placerat vestibulum lectus mauris ultrices eros in cursus turpis. Urna et pharetra pharetra massa massa ultricies mi quis hendrerit. Velit laoreet id donec ultrices. Felis bibendum ut tristique et egestas. Pulvinar elementum integer enim neque volutpat ac tincidunt. </p>
<h3> Extra Information </h3>
<p>Mauris vitae ultricies leo integer malesuada nunc vel. Pharetra pharetra massa massa ultricies mi quis hendrerit dolor magna. Amet massa vitae tortor condimentum lacinia quis vel. Maecenas sed enim ut sem viverra aliquet eget sit. Diam phasellus vestibulum lorem sed risus ultricies. Montes nascetur ridiculus mus mauris vitae ultricies leo integer. Aenean et tortor at risus viverra adipiscing. Nunc congue nisi vitae suscipit tellus mauris a diam. Sit amet volutpat consequat mauris nunc. Habitant morbi tristique senectus et netus et malesuada fames ac. Dapibus ultrices in iaculis nunc sed augue lacus viverra vitae. Cras fermentum odio eu feugiat pretium nibh ipsum consequat. Nulla facilisi morbi tempus iaculis urna.</p>
</div>

<%= link_to 'About', about_path %>