$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #00FF00;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #777;
  text-decoration: none;
}

.center{
  text-align: center;
}

.jumbotron {
  background-image: asset-url('MJ_Alphabet.jpg');
  background-size: cover;
  height: 700px;
}
.jumbotron h1{
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  color: #00FF00;
  text-shadow: 3px 2px black;
  text-decoration: underline;
}
.btn-xlarge{
  font-size: 1cm;
  background-color: black;
}

footer {
 maring-top: 50px;
 padding-top: 5px;
 border-top: 1px solid #696969;
 color: #777;
}
footer a:hover {
  color: #222;
}
footer small {
  float: left
}
footer ul{
  float: right;
  list-style: none;
}
footer ul li {
 float: left;
 margin-left: 17px;
}